@charset "UTF-8";

body {
    background-color: #ffffff; /* Fundo branco */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove espaçamentos padrão */
    color: #212121; /* Cor do texto (cinza escuro) */
    font-family: "Montserrat", sans-serif; /* Fonte padrão */
}

.navbar {
    position: fixed; /* Fixa no topo */
    top: 0; /* Alinhado no topo */
    left: 0; /* Alinhado à esquerda */
    width: 100%; /* Ocupa toda a largura */
    height: 90px; /* Altura da navbar */
    background-color: #000000; /* Fundo preto */
    display: flex; /* Layout flexível */
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Espaço entre os itens */
    padding: 0 20px; /* Espaçamento interno nas laterais */
    z-index: 999; /* Sobrepõe outros elementos */
    color: #FFFFFF; /* Cor do texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra inferior */
}

.menu {
    font-size: 28px; /* Tamanho do ícone */
    cursor: pointer; /* Cursor de clique */
    z-index: 2001; /* Sobrepõe tudo */
    position: fixed; /* Fixo na tela */
    top: 25px; /* Distância do topo */
    left: 25px; /* Distância da esquerda */
    color: #818181; /* Cor cinza */
}

.sidebar {
    padding-top: 70px; /* Espaço no topo */
    height: 100%; /* Altura total da tela */
    width: 0; /* Começa fechada */
    position: fixed; /* Fixa na tela */
    z-index: 1000; /* Camada alta */
    top: 0;
    left: 0;
    background-color: #111; /* Fundo preto */
    overflow-x: hidden; /* Esconde conteúdo que vazar */
    transition: width 0.5s ease; /* Animação suave ao abrir */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Sombra na lateral */
}

.sidebar a {
    padding: 8px 8px 8px 25px; /* Espaçamento interno */
    text-decoration: none; /* Remove sublinhado */
    font-size: 25px; /* Tamanho da fonte */
    color: #818181; /* Cor do texto */
    display: block; /* Ocupa toda a linha */
}

.sidebar.open {
    width: 170px; /* Largura quando aberta */
}

@media (hover: hover) and (pointer: fine) {
    .menu:hover,
    .sidebar a:hover {
        transform: scale(1.1);
        color: #f83324;
        transition: transform 0.3s ease, color 0.3s ease;
    }}