@charset "UTF-8";



@font-face {
    font-family: 'minecraft' ;
    src: url(Font/Minercraftory.ttf);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0%;
    padding: 0%;
    border: 0%;
}        

body{
    background-image: url(Image/fundofundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Minecraft', sans-serif;
}

nav{
    color: rgb(0, 0, 0);
    margin-left: 350px;
    margin-right: 350px;
    background-color: green;
    border-radius: 20px;
    padding: 35px;

}

h1{
    text-align: center;
    padding: 9px;
    padding-bottom: 18px;
    color: rgb(0, 0, 0);
    
    background-color: green;
    margin-top: 10px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 20px;
    vertical-align: center;
    margin-bottom: 70px;
   

}

h2{
    margin: 20px;
}
iframe{
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: green;
    border-radius: 13px;
    
}

img{
    padding: 20px;
    border: 13px;
    background-color: green;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 35px;
}
